{% extends '_base.html' %}

{% block page_title %} {{ page_name }} Page {% endblock page_title %}

{% block content %}
this is home

 <div class="container mt-4">
        <div class="row">
            <div class="col-3">
                <div class="card shadow my-4" >
                    <h5 class="card-header">About</h5>
                    <div class="card-body">
                        <p class="card-text">این سایت توسط امین ابطحی دانشجوی رشته کامپیوتر دانشگاه صنعتی شاهرود طراحی شده است</p>
                        <a href="#"
                           class="btn btn-sm btn-danger">
                            More...
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}