{% extends '_base.html' %}

{% block page_title %} more Info Page {% endblock page_title %}

{% block content %}

 <div class="container mt-4">
        <div class="row">
            <div class="col-9">
                <div class="card shadow my-4" >
                    <h5 class="card-header">About</h5>
                    <div class="card-body">
                        <p class="card-text">امین ابطحی با شماره دانشجویی 9616493 در دانشگاه صنعتی شاهرود در حال تلاش برای به اتمام رساندن دوره ی کارشناسی خود بعد از گذشت تقریبا 6 سال (از سال 1396) است.</p>
                        <p class="card-text">انشالله با حمایت شما استاد عزیز این امر با خوشی بیشتری انجام میشود.</p>
                        <p class="card-text">باتشکر از بذل توجه شما.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}