{% extends "_base.html" %}

{% block page_title %} Share page {% endblock page_title %}

{% block content %}

    <div class="container mt-4">
        <div class="row">
            <div class="col-9">

                        <div class="card shadow my-3 p-5">
                            <h1 class="big mt-2"> نام متوفی:{{ person.name }}   </h1>
                            <p class="small text-muted mt-2"> {{ person.author }}  نویسنده  </p>
                            {% if person.gender == 'm' %}
                                <p class="mt-2"> متوفی مرد بوده  </p> <br>
                            {% elif person.gender == 'f' %}
                                <p class="mt-2"> متوفی زن بوده </p>
                            {% endif %}
                            {% if person.has_father == 'Y' %}
                                <p>پدر متوفی در قید حیات است</p>
                            {% endif %}
                            {% if person.has_mother == 'Y' %}
                                <p>مادر متوفی در قید حیات است</p>
                            {% endif %}
                            {% if person.singularity == 'hasW' %}
                                <p>همسر متوفی در قید حیات است</p>
                            {% elif person.singularity == 'hasH' %}
                                <p>شوهر متوفی در قید حیات است</p>
                            {% else %}
                                <p>متوفی مجرد بوده</p>
                            {% endif %} <br>

                            <p class=" mt-2"> {{ person.number_of_sons }} :تعداد پسران </p>
                            <p class=" mt-2"> {{ person.number_of_daughters }} :تعداد دختران </p> <br>

                            {% if person.has_father == 'Y' %}
                                <p>{{ person.father_share }} :سهم الارث پدر </p>
                            {% endif %}
{#                            {% if person.has_mother == 'Y' %}#}
                                <p>{{ person.mother_share }} :سهم الارث مادر</p>
{#                            {% endif %}#}
                            {% if person.singularity != 'sing' %}
                                <p>{{ person.hamsar_share }} :سهم الارث همسر </p><br>
                            {% endif %}

                            {% if person.number_of_sons != 0 %}
                                <p>{{ person.son_share }} :سهم الارث هر پسر </p>
                            {% endif %}
                            {% if person.number_of_daughters != 0 %}
                                <p>{{ person.daughter_share }} :سهم الارث هر دختر </p>
                            {% endif %}

                            {% if person.number_of_common_brothers != 0 %}
                                <p>{{ person.number_of_common_brothers }} :تعداد برادران</p>
                                <p>{{ person.brother_share }} :سهم الارث هر برادر </p><br>
                            {% endif %}
                            {% if person.number_of_common_sisters != 0 %}
                                <p>{{ person.number_of_common_sisters }} :تعداد خواهران</p>
                                <p>{{ person.sister_share }} :سهم الارث هر خواهر </p><br>
                            {% endif %}

                            {% if person.number_of_brothers_from_father != 0 %}
                                <p>{{ person.number_of_brothers_from_father }} :تعداد برادران ابی</p>
                                <p>{{ person.brother_from_father_share }} :سهم الارث هر برادر ابی </p><br>
                            {% endif %}
                            {% if person.number_of_sister_from_father != 0 %}
                                <p>{{ person.number_of_sister_from_father }} :تعداد خواهران ابی</p>
                                <p>{{ person.sister_from_father_share }} :سهم الارث هر خواهر ابی </p><br>
                            {% endif %}

                            {% if person.number_of_brothers_from_mother != 0 %}
                                <p>{{ person.number_of_brothers_from_mother }} :تعداد برادران امی</p>
                                <p>{{ person.brother_from_mother_share }} :سهم الارث هر برادر امی </p><br>
                            {% endif %}
                            {% if person.number_of_sisters_from_mother != 0 %}
                                <p>{{ person.number_of_sisters_from_mother }} :تعداد خواهران امی</p>
                                <p>{{ person.sister_from_mother_share }} :سهم الارث هر خواهر امی </p><br>
                            {% endif %}

                            {% if person.has_grandFather_of_father == 'Y' %}
                                <p>{{ person.father_of_father_share }} :سهم الارث پدربزرگ پدری </p>
                            {% endif %}
                            {% if person.has_grandMother_of_father == 'Y' %}
                                <p>{{ person.mother_of_father_share }} :سهم الارث مادربزرگ پدری </p>
                            {% endif %}
                            {% if person.has_grandFather_of_mother == 'Y' %}
                                <p>{{ person.father_of_mother_share }} :سهم الارث پدربزرگ مادری </p>
                            {% endif %}
                            {% if person.has_grandMother_of_mother == 'Y' %}
                                <p>{{ person.mother_of_mother_share }} :سهم الارث مادربزرگ مادری </p>
                            {% endif %}

                            <a href="{% url 'person_update' person.id %}" class="btn btn-sm btn-danger" style="width: max-content;height: min-content">edit</a>

                        </div>
            </div>


            <div class="col-3">
                <div class="card my-4">
                    <h5 class="card-header">About</h5>
                    <div class="card-body">
                        <p class="card-text">این سایت توسط امین ابطحی دانشجوی رشته کامپیوتر دانشگاه صنعتی شاهرود طراحی شده است</p>
                        <a href="#"
                           class="btn btn-sm btn-danger">
                            More...
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}